@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');


.font-geral{
    font-family: 'Poppins', sans-serif;
}
.color {
    background-color: #FFD6EC;
}
.fs-54 {
    font-size: 54pt;
}
.fs-18 {
    font-size: 18pt;
}