<div class="container-fluid ">

<nav class="navbar bg-light">
    
      <a class="navbar-brand" href="#">

      
      
        <p class="d-inline-block font-geral ml1" > #MulheresTech </p>
        
       <button type="button" class="btn nav-1 text-white ml" routerLink="/entrar">Entrar</button>


      </a>
    
  </nav>

  <div class="container-fluid back-geral ">
  

    <div class="row d-flex justify-content-center ">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="1000px">
        </div>
    </div>



<div class="jumbotron jub-color">


</div>


  <div class="row  d-flex align-items-center ">


<div class="col-md-5 ">
    
<h1 class="font text-center text-white font-geral">SEMPRE CONECTADO.</h1>
<hr>
<h5 class="text-center text-white font-geral"> O poder da inovação por um olhar único. Mulheres aumentam a rotatividade e torna o nmercado mais competitivo </h5>
<h6 class="text-center text-white" >#Mulheres na tecnologia</h6>
<button type="button" class="btn nav-1 text-white ml-5">Saiba mais!</button>
</div>



<div class="col-md-7 d-flex">
   
    <img class="img-1 img-border" src="https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
</div>
     

<div class="jumbotron jub-color1">


</div>

<div class="row">
  <div class="col-md-6 d-flex justify-content-center" >

    <img  class="img-border mb-5" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="450px"  height="300px" alt="">
      
       
    </div>


<div class="col-md-6">
    <p class=" font text-white font-geral"> Mulheres: As novas  potências da tecnologia e da inovação</p>
       <hr>
        <h5 class="text-white text-center font-geral" >Nosso aplicativo móvel é construído para criar e aumentar as conexões entre você, pessoas que conhece e pessoas que você quer conhecer. Com várias startups em nosso portfólio, a equipe da Netric está trabalhando para trazer a você tudo em um único aplicativo.</h5>
</div>    
</div>
    </div>
</div>


<app-rodape></app-rodape>

</div>