
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,200&display=swap');

.blackfont{
    color:#000000;
}
.back{
    background-color: #fff;
}
.card-img-top{
    width: 130px;
    height: 130px;
    position: relative;
    border-radius: 50%;
    margin: auto;
  }
.card-autoras{
    height: 270px;
    width: 270px;
    border-radius: 20px;
    margin-left: 170px;
  }

.font-geral{
    font-family: 'Poppins', sans-serif;
}

.font{
    font-family: Helvetica;
    font-size: 30px;
}

.nav-1 {

    background-color: #E80F88;
   
   
}

.back-geral{
    background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.ml{
    margin-left: 250px;
}
.ml3{
    margin-left: 200px;
}
.ml2{
    margin-left: 450px;
}






.jub-color{
    background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: 15%;
}

.jub-color1{
    background-image: url('https://scontent.frec5-1.fna.fbcdn.net/v/t39.30808-6/311294757_8067377986670125_8165084142310964375_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=KPBMr8mjrZsAX8MPFHu&_nc_ht=scontent.frec5-1.fna&oh=00_AT_rC5argua9nZQ_wWSERrItBLHynPjgq0sGNOhbuYS5WA&oe=63496FF7');
    background-position: 198%;
}

.back-color{
    background-color: #000000;
}

.img-1{
   
    height: 400px;
    width: 1300px;

}

.text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #fff;
    border: 3px;
}

.gradient {
    display: flex;
    align-items: center;
    justify-content: center;
     height: 130vh;
width: 100vw; 
    background: linear-gradient(45deg, #0E3EDA, #F473B9, #FFBDE6, #0E3EDA );
   
    background-size: 300% 300%;
    animation: colors 15s forwards infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}