<div class="container-fluid ">

<nav class="navbar bg-light ">
    
      <a class="navbar-brand" href="#">

      
        <i class="fa fa-desktop blackfont mr-2 ml2" aria-hidden="true"></i>
        
        <p class="d-inline-block font-geral mr-4 blackfont " > MulheresTech </p>
        

        <a class= "ml" href="#contato" >Contatos</a>
        <a class="mr-4 ml-3" href="#autoria">Quem somos</a>
        
       <button type="button" class="btn nav-1 text-white ml1 " routerLink="/entrar">Entrar</button>


      </a>
    
  </nav>

  <div class="container-fluid back-geral ">

    
  

    <div class="row d-flex justify-content-center ">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="1000px">
        </div>
    </div>



<div class="jumbotron jub-color">


</div>


  <div class="row  d-flex align-items-center ">


<div class="col-md-5 ">
    
<h1 class="font text-center text-white font-geral">Mulheres em TI:</h1>
<h5 class="text-center">um universo de possibilidades </h5>
<hr>
<h5 class="text-center text-white font-geral"> Como construir uma carreira em tecnologia em apenas 6 meses sem conhecimento em programação. </h5>
<h6 class="text-center text-white" >#Mulheres na tecnologia</h6>
<button type="button" class="btn nav-1 text-white ml3">Saiba mais!</button>
</div>



<div class="col-md-7 d-flex">
   
    <img class="img-1 img-border" src="https://images.pexels.com/photos/914931/pexels-photo-914931.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
</div>
     

<div class="jumbotron jub-color1">


</div>

<div class="row">
  <div class="col-md-6 d-flex justify-content-center" >

    <img  class="img-border mb-5" src="https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" width="450px"  height="300px" alt="">
      
       
    </div>


<div class="col-md-6">
    <p class=" font text-center text-white font-geral"> Elas transformam o mercado digital:</p>
    <h5 class="text-center">Benefício Prorrogado</h5>
       <hr>
        <h5 class="text-white text-center font-geral" >Nosso aplicativo móvel é construído para criar e aumentar as conexões entre vocês, pessoas que conhece e pessoas que você quer conhecer.Incrições para a prova e curso preparatórios totalmente gratuitos para mulheres. </h5>
</div>    
</div>
<hr>


<div class="row back">
  <div class="col-md-6 mt-5">
    <h2 id="autoria" class="text-center  font-geral blackfont">Autora do projeto</h2>
    <hr>

    <h6 class="text-center font-geral blackfont">Desenvolvedora Java Jr, com conhecimento em MySQL, Spring
      Boot, Rest Api,
      testes unitários e também na parte de front-end, com HTML5, CSS,
      Angular e
      TypeScript. Comecei a trabalhar desde os 14 anos, o que me
      proporcionou as habilidades de uma boa
      comunicação e desenvoltura, além de ter um bom gerenciamento de
      trabalho em
      equipe. Na faculdade, cursei Direito, onde foi um curso que me
      trouxe bastante
      amadurecimento, técnicas de comportamento e aprendizado
      pessoal.
      </h6>

  </div>
  <hr>

  <div class="col-md-6">
    <div class="container mb-5">
    <div class="card shadow p-3 card-autoras mt-5 bg-white">
      <img id="contato" class="card-img-top bm" src="https://imgur.com/zoTSXal.png" alt="Barbara Menezes">
      <div class="card-body">
          <h5 class="card-title text-center">Barbara Menezes</h5>
          <div class="d-flex justify-content-center">
              <a href="https://github.com/Barbarakmenezes" class="card-text" target="_blank"><i class="fa fa-github text-dark mr-2" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/b%C3%A1rbara-menezes-541843233/" class="card-text" target="_blank"><i class="fa fa-linkedin " aria-hidden="true"></i></a>
          </div>
      </div>
  </div>   
</div>
  </div>
</div>



    </div>
</div>




<app-rodape></app-rodape>

</div>